@import 'tailwindcss';

@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

@layer {
  .container {
    @apply px-5 mx-auto;
  }

  .element-center {
    @apply flex justify-center items-center;
  }

  .position-center {
    @apply absolute top-[50%] left-[50%] translate-[-50%];
  }
}
